/*  ___    _         _    _                  _
   (  _`\ ( )     _ (_ ) (_ )               ( )_    /'\_/`\ _
   | ( (_)| |__  (_) | |  | |    _    _   _ | ,_)   |     |(_)         __   _ __
   | |  _ |  _ `\| | | |  | |  /'_`\ ( ) ( )| |     | (_) || |(`\/') /'__`\( '__)
   | (_( )| | | || | | |  | | ( (_) )| (_) || |_    | | | || | >  < (  ___/| |
   (____/'(_) (_)(_)(___)(___)`\___/'`\___/'`\__)   (_) (_)(_)(_/\_)`\____)(_)
    _    _                                                         ___
   ( )_ ( )   (ASCII font from patorjk.com - Bubbly typeface)    /'___)_
   | ,_)| |__     __    ___ ___     __        ___    _     ___  | (__ (_)   __
   | |  |  _ `\ /'__`\/' _ ` _ `\ /'__`\    /'___) /'_`\ /' _ `\| ,__)| | /'_ `\
   | |_ | | | |(  ___/| ( ) ( ) |(  ___/   ( (___ ( (_) )| ( ) || |   | |( (_) |
   `\__)(_) (_)`\____)(_) (_) (_)`\____)   `\____)`\___/'(_) (_)(_)   (_)`\__  |
                                                                         ( )_) |
                                                                          \___/'
*/

/* Imports */
  /* Fonts */
  @Import url(https://rawgit.com/Hebgbs/plugthemes/master/fonts/MyraidPro.css);
  /* Theme base */
  @import url(https://rawgit.com/Hebgbs/plugthemes/master/mixBase.css);
/* Variable configuration */
:root{
/* Fonts, as defined by above imports
   Potential for expansion upon request */
  --F_Body: Myraid Pro; /* FOR TESTING ONLY: REPLACE WITH MYRAID PRO */
/* Colours for the theme: HSL */
  /* Hues: 0-360 */
    --H_1: 243;
    --H_2: 203;
    --H_3: 275;
  /* Sats: 0%-100%*/
    --S_1: 10%;
    --S_2: 20%;
    --S_3: 50%; 
    --S_4: 100%;
    /* Lums: 0%-100% */
    --L_1: 20%;
    --L_2: 30%;
    --L_3: 40%;
    --L_4: 50%;
/* Opacity of colours, separated for ease of adjustment. 
   Only for HSLA colours, 0.0 - 1.0 */
  --A_1: .9;
  --A_2: .8;
  --A_3: .7;
/* Defined colours using the variables above.
   Caution adjusting these, add new vars above as necessary. */
  --chillBase:   var(--H_1), var(--S_3), var(--L_1);
  --chillBase_I: var(--H_1), var(--S_3), var(--L_3);
  --isChill:     var(--H_2), var(--S_4), var(--L_1);
  --isChill_I:   var(--H_2), var(--S_4), var(--L_2);
  --notCool:     var(--H_3), var(--S_4), var(--L_1);
  --notCool_I:   var(--H_3), var(--S_4), var(--L_2);
  --chillSide:   var(--H_1), var(--S_2), var(--L_1);
  --chillA:      var(--H_1), var(--S_2), var(--L_4);
  --chillN:      var(--H_1), var(--S_1), var(--L_1);
/* Social media and services */
  --f_I: #2b5c94;
  --t_I: #009df6;
  --d_I: #7289da;
  --y_I: #ff0000;
  --r_I: #FF4500;
  --g_I: #6e5494;
  --s_I: #ff3a00;
/* Branding image size */
  --MixB_Img: /* SET MANUALLY! DO NOT SET THIS UNTIL ALL KNOWN BROWSERS RESOLVE THE CONSTANT RELOADING BUG USING IMAGES AS VARIABLES CAUSE OUT OF RESPECT FOR USER'S BANDWIDTH */;
  --MixB_X: 529px;
  --MixB_Y: 434px;}